<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit">
    <meta property="og:title" content="日盈律师事务所" />
    <title>党建公益</title>
    <meta name="keywords" content="日盈律师事务所">
    <meta name="description" content="日盈律师事务所">
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" type="text/css"  href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/swiper-bundle.min.js"></script>
</head>

<body>

<!--头部开始-->
<div class="head">
    <div class="head_container">

        <!--logo开始-->
        <a href="index.html" class="logo"><img src="img/logo.png"></a>
        <!--logo结束-->

        <!--头部总按钮开始-->
        <div class="nav_box">
            <div class="nav_xiala">
                <!--头部导航开始-->
                <ul class="nav">
                    <li><a href="index.html" class="nav_a ">官网首页</a></li>
                    <li><a href="about.html" class="nav_a">探索日盈</a></li>
                    <li><a href="yewu.html" class="nav_a">关注业务</a></li>
                    <li><a href="dangjiangongyi.html" class="nav_a nav_active">党建公益</a></li>
                    <li><a href="team.html" class="nav_a">专业人员</a></li>
                    <li><a href="list.html" class="nav_a ">日盈动态</a></li>
                    <li><a href="job.html" class="nav_a">加入我们</a></li>
                    <div class="nav_scroll">下滑查看更多栏目</div>
                </ul>
                <!--头部导航结束-->

                <!--头部线条开始-->
                <div class="head_line"></div>
                <!--头部线条结束-->

                <!--头部搜索开始-->
                <div class="search">
                    <i class="fa fa-search search_btn_1" title="搜索"></i>
                    <span class="search_close" title="关闭"></span>
                    <div class="search_son">
                        <form name="searchform" class="search_form" method="post">
                            <!--action="/e/search/index.php"-->
                            <input type="text" class="search_text" required="required" name="keyboard" placeholder="搜索试试吧..." autocomplete="off">
                            <input type="hidden" name="tbname" value="news">
                            <input type="hidden" name="show" value="title,smalltext">
                            <input type="hidden" name="tempid" value="1">
                            <input type="hidden" name="member" value="0">
                            <div class="search_btn">
                                <input type="submit" class="search_btn_2" value="" title="搜索">
                                <i class="fa fa-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <!--头部搜索结束-->

                <!--头部语言开始-->
                <div class="lang" title="语言">
                    <div class="lang_icon">
                        <i class="fa fa-globe"></i><span>语言</span>
                    </div>
                    <div class="lang_son">
                        <ul>
                            <li><a href="javascript:void(0)">英文</a></li>
                            <li><a href="javascript:void(0)">韩文</a></li>
                            <li><a href="javascript:void(0)">德文</a></li>
                        </ul>
                    </div>
                </div>
                <!--头部语言结束-->
            </div>
        </div>
        <!--头部总按钮结束-->

        <!--手机端导航按钮-->
        <div class="nav_menu"><span></span></div>
    </div>
</div>
<!--头部结束-->


<!--全局banner开始-->
<div class="base_banner bg" style="background:url('img/dangjiangongyi.jpg')">
    <div class="head_container">
        <div class="base_table">
            <div class="base_cell">
                <h2>热心公益、崇尚公益、不断践行公益 </h2>
            </div>
        </div>
    </div>
    <!--banner下的二级导航开始-->
    <div class="nav_two">
        <div class="head_container">
            <div class="swiper-nav_two">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="nav_two_link" href="dangjiangongyi.html">党支部活动</a><span>|</span>
                    </div>
                    <div class="swiper-slide">
                        <a class="nav_two_link" href="dangjiangongyi.html">团支部活动</a><span>|</span>
                    </div>
                    <div class="swiper-slide">
                        <a class="nav_two_link" href="dangjiangongyi.html">日盈公益</a><span>|</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner下的二级导航结束-->
</div>
<!--全局banner结束-->


<!--党建公益开始-->
<div class="djgy">
    <div class="content_container">
        <div class="news_link clearfix">

            <a href="article.html">
                <h2>日盈党建|日盈所开展党团共建活动 青年军模拟法庭一展风采</h2>
                <p>2020年8月27日上午十时，“青春乘法”——模拟法庭主题党团共建活动在上海日盈律师所顺利开展。本次模拟法庭由日盈所党支部和团支部联合举办，旨在通过这样的实践活动，为年轻律师提供更多实操历练机会，为实战积累经验。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>
            <a href="article.html">
                <h2>日盈公益|日盈所许莉静律师再次获聘中证中小投资者服务中心公益律师</h2>
                <p>日前，我所许莉静律师又获续聘，再次担任中证中小投资者服务中心公益律师。
                    　　2018年起，许律师受聘担任中证中小投资者服务中心公益律师，至今已成功代理上海顺灏、昆明机床、济南高新和康得新等证券虚假陈述责任纠纷案件1000余件，有效维护了上市公司和中小投资者的合法权益，被当事人誉为“最美好律师”，广受好评。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>
            <a href="article.html">
                <h2>日盈公益|上海日盈律师事务所荣获2018-2019年度“上海市司法行政工作先进集体”称号</h2>
                <p>2021年3月9日上午，普陀区2021年度司法行政工作会议在区政府大会议室召开。会上，上海日盈律师事务所被上海市司法局与上海市人力资源和社会保障局联合授予了“上海市司法行政工作先进集体”荣誉称号。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>

            <a href="article.html">
                <h2>日盈公益|日盈所焦士雷律师为长风集团作民法典专题讲座</h2>
                <p>6月4日，应长风集团邀请，日盈所合伙人、上海律协不动产征收业务研究委员会委员焦士雷律师为长风集团作了“幸福生活，民法典相伴---《民法典》租赁合同之重大变化及相关解析”的主题讲座。长风集团各部门及控股子公司职工积极参加了讲座。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>
            <a href="article.html">
                <h2>日盈公益|日盈所许莉静律师再次获聘中证中小投资者服务中心公益律师</h2>
                <p>日前，我所许莉静律师又获续聘，再次担任中证中小投资者服务中心公益律师。
                    　　2018年起，许律师受聘担任中证中小投资者服务中心公益律师，至今已成功代理上海顺灏、昆明机床、济南高新和康得新等证券虚假陈述责任纠纷案件1000余件，有效维护了上市公司和中小投资者的合法权益，被当事人誉为“最美好律师”，广受好评。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>
            <a href="article.html">
                <h2>日盈公益|上海日盈律师事务所荣获2018-2019年度“上海市司法行政工作先进集体”称号</h2>
                <p>2021年3月9日上午，普陀区2021年度司法行政工作会议在区政府大会议室召开。会上，上海日盈律师事务所被上海市司法局与上海市人力资源和社会保障局联合授予了“上海市司法行政工作先进集体”荣誉称号。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>

            <a href="article.html">
                <h2>日盈公益|日盈所焦士雷律师为长风集团作民法典专题讲座</h2>
                <p>6月4日，应长风集团邀请，日盈所合伙人、上海律协不动产征收业务研究委员会委员焦士雷律师为长风集团作了“幸福生活，民法典相伴---《民法典》租赁合同之重大变化及相关解析”的主题讲座。长风集团各部门及控股子公司职工积极参加了讲座。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>
            <a href="article.html">
                <h2>日盈公益|日盈所许莉静律师再次获聘中证中小投资者服务中心公益律师</h2>
                <p>日前，我所许莉静律师又获续聘，再次担任中证中小投资者服务中心公益律师。
                    　　2018年起，许律师受聘担任中证中小投资者服务中心公益律师，至今已成功代理上海顺灏、昆明机床、济南高新和康得新等证券虚假陈述责任纠纷案件1000余件，有效维护了上市公司和中小投资者的合法权益，被当事人誉为“最美好律师”，广受好评。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>
            <a href="article.html">
                <h2>日盈公益|上海日盈律师事务所荣获2018-2019年度“上海市司法行政工作先进集体”称号</h2>
                <p>2021年3月9日上午，普陀区2021年度司法行政工作会议在区政府大会议室召开。会上，上海日盈律师事务所被上海市司法局与上海市人力资源和社会保障局联合授予了“上海市司法行政工作先进集体”荣誉称号。</p>
                <div class="news_bottom">
                    <div class="news_line"></div>
                    <div class="news_right"><i class="fa fa-angle-right"></i></div>
                </div>
            </a>

        </div>


        <div class="shangxiaye">
            <a href="javascript:void(0)">首页</a>
            <a href="javascript:void(0)">上一页</a>
            <a href="javascript:void(0)" class="shangxiaye_active">1</a>
            <a href="javascript:void(0)">2</a>
            <a href="javascript:void(0)">3</a>
            <a href="javascript:void(0)">4</a>
            <a href="javascript:void(0)">5</a>
            <a href="javascript:void(0)">下一页</a>
            <a href="javascript:void(0)">尾页</a>
        </div>
    </div>
</div>
<!--党建公益结束-->



<!--底部开始-->
<div class="footer">
    <div class="footer_top">
        <div class="content_container">
            <div class="footer_jigou">
                <h2>全球办事机构：</h2>
                <a href="jigou.html">上海总部</a>
                <a href="jigou.html">上海刑事辩护中心</a>
                <a href="jigou.html">苏州分所</a>
                <a href="jigou.html">芜湖分所</a>
                <a href="jigou.html">长沙分所</a>
            </div>
            <div class="footer_center clearfix">
                <div class="center_left">
                    <h2>日盈律师事务所</h2>
                    <p>总部电话：021-60560339</p>
                    <p>总部传真：021-60560339</p>
                    <p><span>总部邮编：2000037</span><span>总部邮箱：446157433@qq.com</span></p>
                    <p>总部地址：上海市普陀区云岭东路89号长风国际大厦18楼</p>
                </div>
                <div class="center_right">
                    <h2>021-60560339</h2>
                    <p>总部咨询热线(周一至周五9.00-17.30)</p>
                    <div class="erweima">
                        <img src="img/erweima.png">
                        <p>官方公众号</p>
                    </div>
                    <div class="erweima">
                        <img src="img/erweima.png">
                        <p>刑辩中心公众号</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom clearfix">
        <div class="content_container">
            <div class="footer_banquanbeian">
                <span>Copyright © 2020-2021 Power by RiYingLawFirm</span>
                <a href="javascript:void(0)">沪ICP备：19030764号</a>
                <a href="javascript:void(0)">公安网备案号：19030764号</a>
            </div>
            <div class="footer_link">
                <a href="javascript:void(0)">办公系统</a>|
                <a href="javascript:void(0)">相关链接</a>|
                <a href="javascript:void(0)">免责声明</a>|
                <a href="jigou.html">联系我们</a>
            </div>
        </div>
    </div>

</div>
<!--底部结束-->

</body>
</html>