<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit">
    <meta property="og:title" content="日盈律师事务所" />
    <title>关注业务</title>
    <meta name="keywords" content="日盈律师事务所">
    <meta name="description" content="日盈律师事务所">
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" type="text/css"  href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/swiper-bundle.min.js"></script>
</head>

<body>

<!--头部开始-->
<div class="head">
    <div class="head_container">

        <!--logo开始-->
        <a href="index.html" class="logo"><img src="img/logo.png"></a>
        <!--logo结束-->

        <!--头部总按钮开始-->
        <div class="nav_box">
            <div class="nav_xiala">
                <!--头部导航开始-->
                <ul class="nav">
                    <li><a href="index.html" class="nav_a ">官网首页</a></li>
                    <li><a href="about.html" class="nav_a ">探索日盈</a></li>
                    <li><a href="yewu.html" class="nav_a nav_active">关注业务</a></li>
                    <li><a href="dangjiangongyi.html" class="nav_a">党建公益</a></li>
                    <li><a href="team.html" class="nav_a">专业人员</a></li>
                    <li><a href="list.html" class="nav_a">日盈动态</a></li>
                    <li><a href="job.html" class="nav_a">加入我们</a></li>
                    <div class="nav_scroll">下滑查看更多栏目</div>
                </ul>
                <!--头部导航结束-->

                <!--头部线条开始-->
                <div class="head_line"></div>
                <!--头部线条结束-->

                <!--头部搜索开始-->
                <div class="search">
                    <i class="fa fa-search search_btn_1" title="搜索"></i>
                    <span class="search_close" title="关闭"></span>
                    <div class="search_son">
                        <form name="searchform" class="search_form" method="post">
                            <!--action="/e/search/index.php"-->
                            <input type="text" class="search_text" required="required" name="keyboard" placeholder="搜索试试吧..." autocomplete="off">
                            <input type="hidden" name="tbname" value="news">
                            <input type="hidden" name="show" value="title,smalltext">
                            <input type="hidden" name="tempid" value="1">
                            <input type="hidden" name="member" value="0">
                            <div class="search_btn">
                                <input type="submit" class="search_btn_2" value="" title="搜索">
                                <i class="fa fa-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <!--头部搜索结束-->

                <!--头部语言开始-->
                <div class="lang" title="语言">
                    <div class="lang_icon">
                        <i class="fa fa-globe"></i><span>语言</span>
                    </div>
                    <div class="lang_son">
                        <ul>
                            <li><a href="javascript:void(0)">英文</a></li>
                            <li><a href="javascript:void(0)">韩文</a></li>
                            <li><a href="javascript:void(0)">德文</a></li>
                        </ul>
                    </div>
                </div>
                <!--头部语言结束-->
            </div>
        </div>
        <!--头部总按钮结束-->

        <!--手机端导航按钮-->
        <div class="nav_menu"><span></span></div>
    </div>
</div>
<!--头部结束-->


<!--全局banner开始-->
<div class="base_banner bg" style="background:url('img/yewu1.jpg')">
    <div class="head_container">
        <div class="base_table">
            <div class="base_cell">
                <h2>笃信专业力量，崇尚诚信精神，追求共赢格局</h2>
            </div>
        </div>
    </div>
</div>
<!--全局banner结束-->

<!--关注业务开始-->
<div class="business clearfix">
    <div class="content_container">

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-money"></i>
            <h2>金融类法律服务</h2>
            <p>本所致力于为不同规模、不同行业及不同类别的企业提供多种金融及类金融法律服务，特别是对待资金支持的企业，将通过我们的服务寻找到最高效、最合适的融资方式。</p>
        </a>
        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-university"></i>
            <h2>刑事法律服务</h2>
            <p>本所刑事法律服务部专门承接重大、疑难刑事案件，尤为精通金融犯罪领域的刑事法律风险防控，曾参与沪上近年来的数起重大金融案件办理。</p>
        </a>
        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-retweet"></i>
            <h2>争议解决服务</h2>
            <p>本所在处理重大，疑难，复杂的民商事纠纷方面有丰富经验，特别擅长办理跨领域，涉及多个部门法规定的纠纷案件，今年来参与多起重大群体性闹访，媒体负面报道引起恶性事件的危机公关。</p>
        </a>

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-building"></i>
            <h2>公司类业务</h2>
            <p>本所专注为股份公司、有限责任公司、合伙企业（普通合伙、有限合伙及特殊合伙）等多种类型的企业提供日常经营、人事管理以及企业组织运作所需的各项法律服务。</p>
        </a>

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-globe"></i>
            <h2>涉外法律服务</h2>
            <p>本所拥有一批外语运用能力熟练、掌握丰富扎实的国内、国际相关法律知识和多种学科知识的优秀律师，能够满足各类客户在进行涉外活动中的法律需求。英语、法语、日语、韩语、意大利语，五种工作语言为本所的各类涉外法律服务提供强大支撑。</p>
        </a>

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-ship"></i>
            <h2>海商海事法律服务</h2>
            <p>本所拥有专门处理海商、海事案件的专业律师，他们不但精通于海商、海事法律，每年处理大量的相关案件，而且拥有海上运输行业背景，深刻了解国际、国内航运业，特别是货物运输业的现状及其运作模式和规律。</p>
        </a>

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-book"></i>
            <h2>知识产权及艺术娱乐行业法律业务</h2>
            <p>本所专注于知识产权及艺术娱乐行业法律业务，提供文化娱乐、影视游戏、互联网等多领域内商标、著作权、专利、不正当竞争等多项法律服务。</p>
        </a>

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-dollar"></i>
            <h2>资本市场法律服务</h2>
            <p>本所长期从事各类资本市场法律业务，在首次公开发行（IPO）、私募基金等各类业务领域具有丰富经验，精通相关流程及法规，与证券监管部门以及多家中介机构建立有良好的合作关系，能够为客户提供最专业、最全面的法律服务。</p>
        </a>

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-user-secret"></i>
            <h2>建筑工程法律服务</h2>
            <p>本所在建筑工程法律服务领域具有丰富经验，曾为建设单位、施工单位、政府机构等各类客户提供法律服务，业务范围涵盖了房地产开发销售、工程项目施工、基础设施建设等各个方面，能够提供专业的诉讼和非诉讼法律服务。</p>
        </a>

        <a class="business_item" href="yewu_wenzhangye.html">
            <i class="fa fa-users"></i>
            <h2>劳动争议法律服务</h2>
            <p>本所常年为众多企业提供全面的劳动与人力资源法律服务，并且在劳动争议解决方面具有丰富经验，善于处理各类相关纠纷。能够有效协助客户进行谈判、仲裁和诉讼，在处理疑难、突发事件及劳动争议公众性事件方面处于行业领先地位。</p>
        </a>

    </div>
</div>
<!--关注业务结束-->





<!--底部开始-->
<div class="footer">
    <div class="footer_top">
        <div class="content_container">
            <div class="footer_jigou">
                <h2>全球办事机构：</h2>
                <a href="jigou.html">上海总部</a>
                <a href="jigou.html">上海刑事辩护中心</a>
                <a href="jigou.html">苏州分所</a>
                <a href="jigou.html">芜湖分所</a>
                <a href="jigou.html">长沙分所</a>
            </div>
            <div class="footer_center clearfix">
                <div class="center_left">
                    <h2>日盈律师事务所</h2>
                    <p>总部电话：021-60560339</p>
                    <p>总部传真：021-60560339</p>
                    <p><span>总部邮编：2000037</span><span>总部邮箱：446157433@qq.com</span></p>
                    <p>总部地址：上海市普陀区云岭东路89号长风国际大厦18楼</p>
                </div>
                <div class="center_right">
                    <h2>021-60560339</h2>
                    <p>总部咨询热线(周一至周五9.00-17.30)</p>
                    <div class="erweima">
                        <img src="img/erweima.png">
                        <p>官方公众号</p>
                    </div>
                    <div class="erweima">
                        <img src="img/erweima.png">
                        <p>刑辩中心公众号</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom clearfix">
        <div class="content_container">
            <div class="footer_banquanbeian">
                <span>Copyright © 2020-2021 Power by RiYingLawFirm</span>
                <a href="javascript:void(0)">沪ICP备：19030764号</a>
                <a href="javascript:void(0)">公安网备案号：19030764号</a>
            </div>
            <div class="footer_link">
                <a href="javascript:void(0)">办公系统</a>|
                <a href="javascript:void(0)">相关链接</a>|
                <a href="javascript:void(0)">免责声明</a>|
                <a href="jigou.html">联系我们</a>
            </div>
        </div>
    </div>

</div>
<!--底部结束-->

</body>
</html>